
.controls button {
  margin: 5px;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background: #444;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.controls button:hover {
  background: #666;
}


.result, .history {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.history ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.history li {
  background: #222;
  margin: 4px 0;
  padding: 8px;
  border-radius: 8px;
  color: #00ffcc;
  word-break: break-all;
}




.App-header {
  margin-bottom: 100px;
}
.app-container{
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #fff !important;
}
.start-btn {
  background-repeat: no-repeat;
  background-image: url("frame.png");
  background-size: contain;
  height: 100vw;
  max-height: 500px;
  width: 100vw;
  max-width: 500px;
  display: flex;
  align-items: center;
  font-size: 15px;
  position: static;
  cursor: pointer;
  border: none;
}
.scanner-box {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
